body {
  background-color: #16a9e2;
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }

.links {
  padding: 1em 2em; }
  .links a {
    color: #ffffff; }
  .links p {
    text-decoration: none; }

.footer p {
  color: #ffffff; }
