body {
    background-color: #16a9e2;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.links {
    padding: 1em 2em;
    a{
        color: #ffffff;
    }
    p {
        text-decoration: none;
    }
}
